
primary-color = seashell;
primary-bg = darkslategrey;

.body_punctuation {
  color: primary-color;
  background: primary-bg;
}



primary-color = seashell
primary-bg = darkslategrey

.body_clean
  color primary-color
  background primary-bg