
add(a, b)
    a + b


add_return(a, b)
    return a + b


.functions
    margin add(10px, 20px)


.functions_return
    margin add_return(10px,20px)


// NO FUNCIONA!!!
.functions_transparent
    margin add 10px 20px